@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

/* Archivo with expanded width variation */
.font-archivo-expanded {
  font-family: 'Archivo', sans-serif;
  font-optical-sizing: auto;
  font-stretch: 125%;
}

.font-archivo-condensed {
  font-family: 'Archivo Condensed', sans-serif;
}
